body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: black;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  background-size: cover;
  background-image: url('img/PokeBG2.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden; /* Hide scrollbars on body */
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.sidebar {
  flex: 0 0 40%;
  background-color: rgba(10, 25, 47, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  box-sizing: border-box;
  border-radius: 15px;
}

.sidebar header {
  text-align: left;
}

.sidebar header h1 {
  font-size: 2em;
  margin: 0;
  color: black;
}

.sidebar header h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: black;
}

.sidebar header p {
  font-size: 1em;
  color: black;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.sidebar footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.sidebar footer ul li a img {
  width: 24px;
  height: 24px;
  filter: invert(75%);
}

.content {
  flex: 1;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  margin-left: 40%;
  overflow-y: scroll;
  max-width: 90%;
  height: 100%;
}

.content::-webkit-scrollbar {
  width: 0px; /* Hides scrollbar on WebKit browsers */
  background: transparent; /* Optional: Just to ensure visibility is hidden */
}

.content::-webkit-scrollbar-thumb {
  background: transparent; /* Hides scrollbar thumb on WebKit browsers */
}

.content {
  scrollbar-width: none; /* Hides scrollbar on Firefox */
}

.content section {
  margin-bottom: 40px;
}

.content section h3 {
  font-size: 1.5em;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.content section p {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-bottom: 20px;
}

.more-item, .project-item {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(10, 25, 47, 0.5);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.more-item:hover, .project-item:hover {
  transform: translateX(-10px);
  background: rgba(10, 25, 47, 0.7);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.more-item .date, .project-item img {
  flex-basis: 20%;
  color: black;
  font-size: 0.9em;
}

.more-item .details, .project-item .details {
  flex-basis: 80%;
}

.more-item .details h4, .project-item .details h4 {
  font-size: 1.2em;
  margin: 0;
  color: black;
}

.more-item .details p, .project-item .details p {
  margin: 10px 0;
  color: black;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background-color: rgba(10, 25, 47, 0.3);
  color: #30bb6a;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  border: 1px solid #30bb6a;
}

.project-item img {
  max-width: 100px;
  border-radius: 5px;
}
